<div class="container">
  <h1>Favorites#index</h1>

  <ul>
    <% @favorites.each do |favorite| %>
      <li>
        <div><%= favorite.product.name %></div>
        <div><%= favorite.product.description %></div>
        <div><%= favorite.product.city %></div>
        <div><%= favorite.product.price %> € per day</div>
      </li>
    <% end %>
  </ul>
</div>
