<div class="container d-flex align-items-center pt-5 pb-5">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
    <h2>Select your rental dates</h2>

    <%= simple_form_for ([@product, @booking]) do |f| %>
      <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
      <br>
      <%= f.button :submit, "Book it!", class: "btn" %>
    <% end %>
  </div>
</div>
