.container{
  font-family: Montserrat;
}

.card-container {
  display: flex;
}

.product-image {
  width: 650px;
  height: 500px;
  object-fit: cover;
  border-radius: 2px;
}

.product-show-content {
  padding-left: 8px;
  padding-right: 36px;
  height:500px;
}

.product-content-text {
  background-color: #FFF;
  padding: 24px 24px;
  height:500px;
}

.product-price {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  height:50px;
}

.product-description {
  flex-grow:1;
  h1 {
  font-size: 24px;
  font-weight: bold;
}
}

.product-btn-container {
  display: grid;
  width:100%;
  height: 150px;
}

.booking-container-btn {
  display: grid;
  width: 100%;
  height: 80px;
}

.back-btn {
  font-weight: bold;
}

#booking-total-price {
  font-weight:bold;
}
