<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1799592/pexels-photo-1799592.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  <input class="form-control mx-auto" type="text" placeholder="Search" aria-label="Search">
  <div class="container">
    <h1>Rent a Crib</strong>!</h1>
    <p>Give a new life to child care!</p>
  </div>
</div>

<ul>
  <% @products.each do |product| %>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-product-infos">
          <div>
            <h2><%= product.name %></h2>
          </div>
          <h2 class="card-product-pricing"><%= product.price %> € per day</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-product-user avatar-bordered" />
        </div>
    </div>
  <% end %>
</ul>
