<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1799592/pexels-photo-1799592.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  <input class="form-control mx-auto" type="text" placeholder="Search" aria-label="Search">
  <div class="container">
    <h1>Rent a Crib</strong>!</h1>
    <p>Give a new life to child care!</p>
  </div>
</div>

<ul>
  <div class = card-container>
    <% @products.each do |product| %>
      <div class="card-product">
        <i class="far fa-heart fav-prod" style="color: #DE7362;"></i>
        <%= image_tag "childbed.jpg" %>
          <div class="card-product-infos">
          <div>
            <h2><%= product.name %></h2>
            <h2 class="card-product-pricing"><%= product.price %> € per day</h2>
          </div>
          <p><%= link_to 'See more', product_path(product), class: 'btn btn-primary' %></p>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-product-user avatar-bordered" />
        </div>
      </div>
    <% end %>
  </div>
</ul>

