<div class="banner d-flex">
  <input class="form-control d-inline-flex justify-content-aroundd-flex " type="text" placeholder="What baby supply are you looking for?" aria-label="Search">
  <input class="form-control d-inline-flex justify-content-aroundd-flex " type="text" placeholder="Enter a location" aria-label="Search">
  <div class="search-button d-inline-flex">
    <!-- <i class="fas fa-search"></i> -->
  </div>
</div>

<ul>
  <div class = card-container>
    <% @products.each do |product| %>
      <div class="card-product">
        <i class="far fa-heart fav-prod" style="color: #DE7362;"></i>
        <%= image_tag "childbed.jpg" %>
          <div class="card-product-infos">
          <div>
            <h2><%= product.name %></h2>
            <h2 class="card-product-pricing"><%= product.price %> € per day</h2>
          </div>
          <p><%= link_to 'See more', product_path(product), class: 'btn btn-primary' %></p>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-product-user avatar-bordered" />
        </div>
      </div>
    <% end %>
  </div>
</ul>

