<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1799592/pexels-photo-1799592.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  <input class="form-control mx-auto" type="text" placeholder="Search" aria-label="Search">
  <div class="container">
    <h1>Rent a Crib</strong>!</h1>
    <p>Give a new life to child care!</p>
  </div>
</div>

<ul>
  <% @products.each do |product| %>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2><%= product.name %></h2>
        <p><%= product.price %> € per day</p>
        <p><%= link_to 'See more', product_path(product), class: 'btn btn-primary' %></p>
        <i class="far fa-heart fav-prod"></i>
      </div>
    </div>
  <% end %>
</ul>
